<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: gilroy;

    }

    html,
    body {
      width: 100%;
      height: 100%;

    }
    body{
      overflow: hidden;
    }

    #overlay{
      width: 100vw;
      height: 100vh;
      background-color:#E1E1E1;
      /* background-color: yellow; */
      display: flex;
      overflow: hidden;
      position: relative;

      align-items: center;
      justify-content: center;
    }
    #main {
      width: 92vw;
      overflow: hidden;
      height: 86vh;

      background-color: white;
      display: flex;
      /* border: 10px solid #C2F83B; */
            border: 8px solid #C00CF2;

      border-radius: 7px;
      z-index: 999999;
      position: absolute;
      
      position: relative;

    }

    .left {
      width: 40%;
      height: 100%;
      position: relative;
    }

    .right {
      width: 60%;
      height: 100%;
      position: relative;
    }

    .gola {
      width: 30vw;
      height: 30vw;
      background-color: #950618;
      
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      
    
    }

    

    .gola-in {
      width: 25vw;
      height: 25vw;
      border-radius: 50%;
      position: absolute;
      background-color: white;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .card {
      width: 25vw;
      position: absolute;
      top: 50%;
      left: 50%;
      border-radius: 8px;

      transform: translate(-50%, -50%);
      height: 50vh;
      background-color:#950618;
    }

    .card input {
      width: 19vw;
      padding-left: 5px;
      height: 7vh;
      margin-top: 1.5vw;
      border: none;
      margin-left: 3vw;
      border-radius: 5px;
    }

    .card h3 {
      /* margin-bottom: 1.3vw; */
      text-align: center;
      font-size: 2vw;
      margin-top: 10px;
    }
    .card a{
      width:19vw;
      text-decoration: none;
      height: 6.5vh;
      border-radius: 5px;
      /* font-weight: bold; */
      font-size: 21px;
      color: black;
      padding: 9px 50px;
      position: absolute;
      bottom: 5%;
      font-weight: bold;
      left: 12%;
      background-color: white;

    }

    .right img {
      z-index: 9999999999;
      position: absolute;
      height: 73vh;
      top: 2%;
      left: 2%;
      /* rotate: -26deg; */
      /* width: 10vw; */
      object-fit: cover;
    }
    #rod1{
      width: 30vw;
      height: 60vh;
      /* background-color:#EC1A2F; */
      background-color: #9335F1;
      position: absolute;
      rotate: -36deg;
      z-index: 9999;
      top: 56%;
      left: -5%;
    }
    #rod2{
      width: 30vw;
      height: 60vh;
      /* background-color:#950618; */
      background-color: #566CE4;
      position: absolute;
      rotate: -33deg;
      z-index: 99999;
      top: -14%;
      right: -3%;
    }
    #submit{
      font-weight: bold;
      font-size: 24px;
      color: white;
      background-color: black;
    }
  </style>

</head>

<body>
  
  <div id="overlay">
    
    <div id="rod1"></div>
  <div id="rod2"></div>
    <div id="main">
      <div class="left">
        <div class="card">
            <h3>Log In</h3>

            <form action="/login" method="post">
                <input type="text" name="username" placeholder="Username">
                <input type="password" name="password" placeholder="Password">
                <input id="submit" type="submit">
                <a href="/">Create Account</a>
                
            </form>
        </div>
      </div>

      <div class="right">

        <div class="gola">
          <div class="gola-in">

          </div>
        </div>
        <img src="../images/uploads/domino-164_6wVEHfI-unsplash-removebg.png" alt="">
      </div>
    </div>

  </div>

</body>

</html>